@import "../../themeVar.module.css";

.inp {
  border: 1px solid var(--input-color);
  background-color: var(--all-color);
  height: 38px;
  border-radius: 8px;
  font-size: 20px;
  padding-left: 10px;
  color: rgb(108, 99, 255);
  &::placeholder {
    color: var(--placeholder-color);
  }
  &:focus {
    outline: none;
  }
}
