@import "../../../themeVar.module.css";
.svg {
  fill: var(--all-color);

  &:hover path {
    stroke: red;
    transition: stroke 0.4s ease;
  }

  &:active path {
    stroke: rgb(199, 0, 0);
    transition: stroke 0s;
  }
}

@media (hover: none) {
  .svg:hover path {
    stroke: rgb(210, 210, 210);
  }
}
