.forSelect {
  position: relative;
  width: 85px;
  height: 38px;
}

.select {
  appearance: none;
  line-height: 1.3;
  background-color: rgb(108, 99, 255);
  color: #f7f7f7;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 18px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.forSelect::before {
  content: url("../../svg-image/arrow.svg");
  position: absolute;
  top: 5px;
  left: 80%;
}

.select:focus {
  outline: none;
}
