* {
  font-family: "Kanit", sans-serif;
}

.interactive {
  width: 100%;
  height: 38px;
  display: flex;
  column-gap: 16px;
}

.but {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(108, 99, 255);
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.but:hover {
  background-color: rgb(128, 122, 253);
  transition: background-color 0.3s ease;
}
.but:active {
  background-color: rgb(76, 67, 255);
  transition: background-color 0s;
}
