* {
  font-family: "Kanit", sans-serif;
}

.interactive {
  width: 100%;
  height: 38px;
  display: flex;
  column-gap: 16px;
}

.but {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(108, 99, 255);
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: rgb(128, 122, 253);
    transition: background-color 0.3s ease;
  }

  &:active {
    background-color: rgb(76, 67, 255);
    transition: background-color 0s;
  }

  &:focus {
    outline: none;
  }
}
