@import "../../themeVar.module.css";
.noteDialog {
  position: absolute;
  top: 30vh;
  background-color: var(--all-color);
  bottom: 400px;
  width: 500px;
  height: 289px;
  border-radius: 15px;
  border: 1px solid var(--li-color);
  @media (max-width: 600px) {
    & {
      width: 80vw;
    }
  }
}

.noteDialog::backdrop {
  backdrop-filter: brightness(55%);
}

.allContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.divButs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 38px;
}

.cancel {
  font-size: 17px;
  width: 110px;
  background-color: var(--all-color);
  border: 1px solid rgb(108, 99, 255);
  color: rgb(108, 99, 255);
  border-radius: 8px;
  cursor: pointer;
}

.apply {
  font-size: 17px;
  width: 97px;
  background-color: rgb(108, 99, 255);
  color: rgb(247, 247, 247);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cancel:hover {
  background-color: rgb(200, 198, 255);
  transition: background-color 0.3s ease;
}
.apply:hover {
  background-color: rgb(140, 136, 255);
  transition: background-color 0.3s ease;
}

.cancel:active {
  background-color: rgb(175, 172, 255);
  transition: background-color 0s;
}

.apply:active {
  background-color: rgb(78, 72, 255);
  transition: background-color 0s;
}

.but {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: none;
  position: sticky;
  top: 72vh;
  margin-left: 3vw;
  flex-shrink: 0;
  background-color: rgb(108, 99, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.but:hover {
  background-color: rgb(128, 122, 253);
  transition: background-color 0.3s ease;
}
.but:active {
  background-color: rgb(76, 67, 255);
  transition: background-color 0s;
}

.but:focus {
  outline: none;
}

.h1 {
  color: var(--li-color);
  font-size: 24px;
  font-weight: 500;
}

@media (hover: none) {
  .cancel:hover {
    background-color: var(--all-color);
  }
  .apply:hover {
    background-color: rgb(108, 99, 255);
  }
}

@media (max-width: 600px) {
  .but {
    width: 8vw;
    height: 8vw;
    position: fixed;
    top: 90vh;
    left: 86%;
  }
}

@media (max-width: 400px) {
  .but {
    width: 32px;
    height: 32px;
    left: 85%;
  }
}
