:root {
  --input-color: rgb(108, 99, 255);
  --all-color: rgb(247, 247, 247);
  --li-color: black;
  --placeholder-color: rgb(195, 193, 229);
  --active-checkbox: rgb(238, 237, 255);
  --span-color: #252525;
}
